ipykernel
ipywidgets
jupyterlab
widgetsnbextension
numpy
pandas
matplotlib
lxml
html5lib
beautifulsoup4
openpyxl
xlsxwriter
seaborn
requests
flask
fastapi
streamlit
scikit-learn
imblearn
statsmodels
gunicorn
uvicorn
sse_starlette
sqlalchemy
plotly
nbformat
pypdf
pypdf2
arxiv
pymupdf
wikipedia
python-dotenv
openai
anthropic
pydantic
langchain
langserve
langfuse
langgraph
langgraph-api
langgraph-cli
langgraph-cli[inmem]
langgraph_supervisor
langgraph-checkpoint
langgraph-checkpoint-mongodb
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
langchain_core
langchain_community
langchain_text_splitters
langchain_openai
langchain_groq
langchain_ollama
langchain_aws
langchain_anthropic
langchain_google_genai
langchain_google_vertexai
langchain_huggingface
langchain_chroma
langchain-tavily
mcp
langchain-mcp-adapters
chromadb
faiss-cpu
sentence-transformers
duckdb
duckduckgo-search
gitingest
